<% include partials/header %>

<!-- <form action="/button-type"> -->
<form  id="form" method="POST" action="/todos/update/<%= doc._id %>">
<div class="container">
    <br/>
    <div class="row justify-content-md-center ">
        <div class="col-md-8" style="color:#2b97ef;font-size: 30px;"><b>Shto kontratën e re</b></div>
    </div>
    <br/><br/>

    <div class="row justify-content-md-center ">
        <div class="col-md-8" style="font-size: 20px;"><b>Prokurimi:</b></div>
    </div>
    <br/>

    <div class="row justify-content-md-center ">
        <div class="col-md-4"><label>Nr. rendor i prokurimit </label>
            <input type="number" name="numri" class="form-control" placeholder="Nr.rendor i prokurimit" min="0" value="<%= doc.numri %>"><br/>
        </div>

        <div class="col-md-4"><label>Lloji i prokurimit</label>
            <input type="text" name="lloji" class="form-control" placeholder="Lloji i prokurimit" value="<%= doc.lloji %>"/>
        </div>
    </div>



    <br/>

    <div class="row justify-content-md-center">
        <div class="col-md-8"> <label>Aktiviteti i prokurimit</label></div>
    </div>
    <div class="row ">
        <div class="col-md-8 offset-md-2"><input type="text" name="aktiviteti" class="form-control"  placeholder="Aktiviteti i prokurimit" value="<%= doc.aktiviteti %>"></div>
    </div>
    <br/>

    <div class="row justify-content-md-center ">
        <div class="col-md-8" style=";font-size: 20px;"><b>Datat:</b></div>
    </div> 
    <br/>

    <div class="row justify-content-md-center ">
        <div class="col-md-4">
            <label> Data e inicimit të aktivitetit të prokurimit</label>
            <input type="text" name='date1' onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" placeholder="03.03.2018" id="entry_date" value="<%= doc.date1 %>" ><br/>
        </div>
        <div class="col-md-4 ">
            <label >Data e publikimit të shpalljes</label>
            <input type="text" name='date2' onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" placeholder="03.03.2018" id="entry_date" value="<%= doc.date2 %>" >

        </div>
    </div>
    <br/>

    <div class="row justify-content-md-center">
        <div class="col-md-8 ">
            <label> Data e nënshkrimit të kontratës</label>
            <input type="text" name='date3' onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" id="entry_date" placeholder="03.03.2018" value="<%= doc.date3 %>">
        </div>
    </div>
   <br/>

    <div class="row justify-content-md-center">
        <div class="col-md-8"><label> Afatet për implementimin e kontratës</label></div>
    </div>
   <div class="row justify-content-md-center">
        <div class="col-md-4">
            <input type="text" name='date4' onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" placeholder="03.03.2018" id="entry_date" value="<%= doc.date4 %>"><br/>
        </div>
        <div class="col-md-4">
            <input type="text" name='date5' onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" placeholder="03.03.2018" id="entry_date" value="<%= doc.date5 %>" >
        </div>
    </div>
    <br/>

    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <label>Data e përmbylljes së kontratës (datat e pranimit të përkohshëm/preleminar)</label>
            <input type="text" name='date6' onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" id="entry_date" placeholder="03.03.2018" value="<%= doc.date6 %>" >
        </div>
    </div>
     <br/>

     <div class="row justify-content-md-center ">
        <div class="col-md-8" style="font-size: 20px;"><b>Çmimi dhe të dhënat tjera:</b></div>
    </div>
    <br/>

     <div class="row justify-content-md-center ">
         <div class="col-md-4">
             <label>Çmimi i kontratës (duke përfshirë të gjitha taksat)</label>
             <input type="text" name="cmimi1" class="form-control" placeholder="Çmimi i kontratës" value="<%= doc.cmimi1 %>">
             <br/>
         </div>

         <div class="col-md-4 ">
             <label>Çmimi total i paguar për kontratën</label>
             <input type="text" name="cmimi2" class="form-control" placeholder="Çmimi total"  value="<%= doc.cmimi2 %>">
             </div>
    </div>
    <br/>

     <div class="row justify-content-md-center">
         <div class="col-md-8">
             <label> Emri të cilit i është dhënë kontrata</label>
             <input type="text" name="emri" class="form-control"  placeholder="Emri dhe mbiemri" value="<%= doc.emri %>"/>
         </div>
    </div><br/>

    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <button  class="btn btn-primary btn-lg btn-size" type="submit" value="DËRGO  " >RUAJ NDRYSHIMET  </button> <br/><br/> 
        </div>
        <div class="col-md-4">
            <button class="btn btn-secondary btn-lg btn-size" type="reset" value="FSHIJ" > FSHIJ</button>
        </div>
    </div>
    </div>

</form>

<% include partials/footer %>